.nav-bottom{
    position : absolute;
    bottom : 0;
    min-height: 10vh;
    display:flex;
    align-items: center;
    justify-content: center;
    min-width:92%
}
.nav-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    border: 0.12rem solid var(--color-dark);
    border-radius: var(--borderRadius);

}

